.branch-wrapper{
    padding: 3rem;
}
.branch-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.branch-post{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}